:root {
    --azul-navy: #0e1d46;
    --gris-claro: #F4F2EF;
    --gris-oscuro: #b5bfe0;
}

.footer {
    background-color: var(--azul-navy);
    padding: 2.5rem 1.5rem 1.5rem;
    color: var(--gris-claro);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin-bottom: 1.5rem;
    min-width: 200px;
    padding: 0 2rem;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.logo {
    max-width: 250px;
    height: auto;
}

.social-icons {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.social-icons svg {
    color: var(--gris-claro);
    transition: color 0.3s;
}

.social-icons svg:hover {
    color: var(--gris-oscuro);
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: var(--gris-claro);
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: color 0.3s;
    color: var(--gris-claro);
}

.footer-section ul li:hover {
    color: var(--gris-oscuro);
}

.footer-divider {
    height: 1px;
    background-color: var(--gris-oscuro);
    width: 100%;
    margin: 20px 0;
    opacity: 0.3;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}

.footer-links span {
    margin-left: 2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.footer-links span:hover {
    color: var(--gris-oscuro);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .logo-section {
        align-items: center;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        margin-top: 1.2rem;
    }

    .footer-links span {
        margin: 0 10px;
    }
}